<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js • TodoMVC</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>

    <section class="todoapp">
        <header class="header">
            <h1>Todos</h1>
            <input class="new-todo" placeholder="What needs to be done?" autofocus>
        </header>
        <section class="main">
            <input class="toggle-all" id="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list"></ul>
        </section>
        <footer class="footer"></footer>
    </section>
    <div class="info">
        <p>Double-click to edit a todo</p>
    </div>

    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
            <label><%= title %></label>
            <button class="destroy"></button>
        </div>
        <input class="edit" value="<%= title %>">
    </script>

    <script type="text/template" id="stats-template">
        <span id="todo-count"<strong><%= remaining %></strong> <%= remaining === 1 ? 'item': 'items' %> left</span>
        <ul id="filters">
            <li>
                <a class="selected" href="#/">All</a>
            </li>
            <li>
                <a href="#/active">Active</a>
            </li>
            <li>
                <a href="#/completed">Completed</a>
            </li>
        </ul>
        <% if (completed) {%>
            <button id="clear-completed">Clear completed (<%= completed %>)</button>
        <% } %>
    </script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/backbone/backbone-min.js"></script>
<script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>

<script src="models/todo.js"></script>
<script src="collections/todos.js"></script>
<script src="views/todos.js"></script>
<script src="views/app.js"></script>
<script src="routers/router.js"></script>
<script src="app.js"></script>
</body>
</html>
